@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white-text: #fff;
    --black-text: #333;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}
body {
    overflow-y: overlay;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}


html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}



@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;

}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;

}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;

}

button, input, [tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}
button {
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}

a[href] {
    text-decoration: none;
    color: var(--black-text);
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-style: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84,84,84,0.92);
        transform: translateY(-7px);
        
    }
    .tippy-arrow {
        color: rgba(84,84,84,0.92);
    }
    .tippy-content {
        padding: 4px 9px;
    }
}


    
    