.wrapper {
    padding: 32px 25px;
}

.account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 624px;
}

.account-avatar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-avatar {
    width: 116px;
    height: 116px;
}

.user-info-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
}

.user-nickname {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 3px;
}

.btn-follow {
    margin-top: 10px;
    min-height: 36px;
    min-width: 208px;
}

.more-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(25%);
}

.more-btn-share-wrapper {
    display: flex;
    align-items: center;
    height: 46px;
    margin-right: 18px;
    cursor: pointer;
}

.more-btn-ellipsis-wrapper {
    display: flex;
    height: 46px;
    align-items: center;
    cursor: pointer;
}

.more-btn-ellipsis {
    width: 24px;
    height: 24px;
}

.account-community-contact {
    display: flex;
    margin-top: 22px;
}

.user-num-contact {
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-style: 1.8rem;
    line-height: 25px;
    + .user-num-contact {
        margin-left: 20px;
    }
    span {
        color: rgba(22, 24, 35, 0.75);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-left: 6px;
    }
}

.account-des {
    margin-top: 10px;
    text-align: left;
    color: rgb(22, 24, 35);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.account-video {
    margin-top: 20px;
}

.video-content-list {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.video-content-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 460px;


}

.scroll-wrapper {
    position: relative;
    width: 100%;
}

.video-content-item {
    font-size: 1.8rem;
    flex: 1;
    font-weight: 700;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}


.scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: #333;
    border-radius: 90px;
    z-index: -1;
    transition: all ease 300ms 0s;
}

.video-list {
    display: grid;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.video-item-wrapper {
    cursor: pointer;   
}

.video-item {
    position: relative;
    width: 100%;
    padding-top: 132%;
    z-index: -1;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
   
}

.play-icon {
    position: absolute;
    color: #fff;
    left: 14px;
    bottom: 16px;
    display: flex;
    align-items: center;
    span {
     font-weight: 600;
     font-size: 1.6rem;
     margin-left: 4px;
     transform: translateY(1px);
    }
 }

.video-des {
    font-weight: 600;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 4px;
    padding: 0 10px;
    cursor: text;
}

.share-list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 280px;
    width: 280px;
    overflow: hidden;
    cursor: pointer;
}

.list-share {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 280px;
    padding: 8px 0px;
    max-height: 400px;
    overflow: hidden;
}

.share-item {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }
}

.share-item-des {
    margin-left: 12px;
}

.show-share-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }
    width: 100%;
    margin-bottom: 5px;
    margin-top: 3px;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}
