.wrapper {
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    padding: 9px 16px 8px 16px;
    align-items: center;
    &.defaultHover {
        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }
    }
    &.smallSize {
        .account-avatar {
            width: 32px;
            height: 32px;
        }
        .account-name {
            font-weight: 700;
            transform: translateY(1.5px);
            
        }
        .account-desc {
            font-size: 1.2rem;
        }
    }
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    justify-content: center;
}
.account-name {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    line-height: 22px;
    .icon {
        width: 14px;
        height: 14px;
        margin-left: 3px;
        color: rgb(34, 196, 196);
        transform: translateY(1px);
    }
    
}

.account-desc {
    flex: 1;
    font-size: 1.4rem;
    line-height: 15px;
}

