.wrapper {
    position: relative;
    min-width: 223px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0/ 0.12) 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden;
}
.endArrow::before {
    content: '';
    position: absolute;
    top: -31px;
    right: 18px;
    border: 20px solid black;
    border-color: transparent transparent #ffffff transparent;
}
