.wrapper {
    width: var(--default-layout-width);
    height: var(--default-layout-header-height);
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    padding: 0 24px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.action {
    height: 100%;
    display: flex;
    align-items: center;
    
}
.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    font-size: 2rem;
}

.menu {
    display: flex;
    padding: 6px 10px 6px 0;
    align-items: center;
    cursor: pointer;
}

.icon-more {
    height: 20px;
    width: 20px;
}

